@model QL_KhoaHocOnl.Models.TEACHER

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>TEACHER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_TEACHER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TEACHER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME_TEACHER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_TEACHER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_TEACHER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_TEACHER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THUMBNAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUMBNAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_CREATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEVEL_TEACHER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL_TEACHER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION_TEACHER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION_TEACHER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
